<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">Онлайн презентации</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/search">Найти презентацию</a></li>
                    <li class="nav-item"><a class="nav-link" href="/showpresentations">Все презентации</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create-presentation">Создать презентацию</a></li>
                </ul><span class="navbar-text actions"> <a class="login" href="/auth">Войти</a><a class="btn btn-light action-button" role="button" href="/signup">Регистрация</a></span>
            </div>
        </div>
    </nav>
    <section class="login-clean">
        <div class="error"></div>
        <form method="post">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="mb-3"><input id="email" class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="mb-3"><input id="password" class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><input class="btn btn-primary d-block w-100" onclick="signin()" type="button" value="Войти"></div><a class="forgot" href="/signup">Нет профиля? <strong>Регистрация</strong></a>
        </form>
    </section>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/javascript/getJson.js"></script>
    <script src="/assets/javascript/signin.js"></script>
</body>

</html>